# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
pytest
flake8
black
dbt
pyspark
docker-compose
flask==2.0.1
requests==2.25.1
pandas==1.3.3